h1,
h2,
h3,
h4 {
  font-weight: bold;
}
.empty {
  display: none !important;
}
#legend {
  width: 180px;
  background-color: #a5bfc0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
#legend .header {
  display: flex;
  position: relative;
  z-index: 5;
}
#legend .header h2 {
  flex: 9;
  line-height: 45px;
  text-align: center;
}
#legend .header a {
  flex: 1;
  display: block;
}
#legend .left,
#legend .icon {
  height: 60px;
  width: 55px;
}
#legend .left img,
#legend .icon img {
  height: 45px;
  width: 45px;
  margin: 7.5px 5px;
}
#legend .wrapper {
  height: calc(100% - 60px);
  position: relative;
}
#legend ul {
  position: relative;
}
#legend .layer {
  display: block;
  position: relative;
}
#legend .layer.final>.layerLine>.right {
  padding-right: 4px;
  width: 24px;
}
#legend .header {
  background-color: #a5bfc0;
}
#legend >.wrapper>ul>.layer >.layerLine {
  background-color: #a5bfc0;
}
#legend >.wrapper>ul>.layer >.layerLine >* {
  background-color: #a5bfc0;
}
#legend >.wrapper>ul>.layer >.layerLine:hover >* {
  background-color: #c0d2d3;
}
#legend >.wrapper>ul>.layer >.layerLine >.jauge {
  background-color: #90b0b1;
}
#legend >.wrapper>ul>.layer >.layerLine >.jauge >.fill {
  background-color: #679193;
}
#legend >.wrapper>ul>.layer >.subLayers {
  border-color: #4a6869;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine {
  background-color: #9bb8b9;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine >* {
  background-color: #9bb8b9;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #b9cdce;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #87aaab;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #628b8c;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers {
  border-color: #466364;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine {
  background-color: #91b1b2;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >* {
  background-color: #91b1b2;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #b2c8c9;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #7ea4a5;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #5d8485;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers {
  border-color: #435e5f;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine {
  background-color: #88aaab;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >* {
  background-color: #88aaab;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #acc3c4;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #769d9e;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #597d7e;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers {
  border-color: #40595a;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine {
  background-color: #7fa4a5;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >* {
  background-color: #7fa4a5;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #a5bfc0;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #6e9899;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #547778;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers {
  border-color: #3c5556;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine {
  background-color: #769e9f;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >* {
  background-color: #769e9f;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine:hover >* {
  background-color: #9fbbbc;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge {
  background-color: #679293;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.layerLine >.jauge >.fill {
  background-color: #507172;
}
#legend >.wrapper>ul>.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers >.layer >.subLayers {
  border-color: #395151;
}
#legend .final .layerLine .middle h3.title {
  font-weight: normal;
}
#legend .layerLine {
  height: 60px;
  display: flex;
  position: relative;
  z-index: 2;
  text-align: left;
}
#legend .layerLine .title {
  line-height: 60px;
  padding-left: 5px;
  overflow: hidden;
}
#legend .layerLine >* {
  position: relative;
  z-index: 2;
}
#legend .layerLine:hover >* {
  background-color: #c0d2d3;
}
#legend .layerLine:hover >.rightExtension {
  right: -200px;
  width: 200px;
  background-color: #c0d2d3;
}
#legend .layerLine:hover >.jauge {
  width: 12px;
  margin-right: -8px;
}
#legend .layerLine .rightExtension {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  padding-left: 13px;
  height: 60px;
  position: absolute;
  z-index: 1;
  transition: all 0.5s;
  width: 100%;
  right: 0;
}
#legend .layerLine .left {
  position: relative;
  width: 55px;
}
#legend .layerLine .left .layerEntityCount {
  position: absolute;
  bottom: 2px;
  right: 0;
  background-color: #eee;
  border-radius: 4px;
  padding: 0 2px;
}
#legend .layerLine .middle {
  flex: 9 70px;
  overflow: hidden;
}
#legend .layerLine .right {
  width: 20px;
  text-align: center;
  line-height: 30px;
/*
			input // taille checkbox
				width 16px
				height 16px
			*/
}
#legend .layerLine .right .unfold,
#legend .layerLine .right .fold {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  display: block;
}
#legend .layerLine .right .fold {
  display: none;
}
#legend .layerLine .jauge {
  position: relative;
  height: 60px;
  width: 4px;
  transition: all 0.5s;
}
#legend .layerLine .jauge .fill {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
#legend .subLayers {
  border-width: 0;
  margin-left: 4px;
  border-left-width: 2px;
  border-style: solid;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}
#legend .subLayers >.layer>.layerLine {
  transition: all 0.5s;
  height: 0;
}
#legend .subLayers >.layer>.layerLine >* {
  transition: top 0.5s;
  top: -60px;
}
#legend .subLayers >.layer>.subLayers {
  display: none;
}
#legend .layer.expanded>.layerLine >.right>.fold {
  display: block;
}
#legend .layer.expanded>.layerLine >.right>.unfold {
  display: none;
}
#legend .layer.expanded>.subLayers {
  border-bottom-width: 2px;
  margin-bottom: 4px;
}
#legend .layer.expanded>.subLayers >.layer>.layerLine {
  height: 60px;
}
#legend .layer.expanded>.subLayers >.layer>.layerLine >* {
  top: 0;
}
#legend .layer.expanded>.subLayers >.layer>.subLayers {
  display: block;
}
.hidden {
  display: none;
}
* {
  font-family: Calibri, sans-serif;
  font-size: 11pt;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
}
.link:hover {
  cursor: pointer;
}
.node circle {
  opacity: 0.5;
}
.node path {
  opacity: 0.7;
  display: none;
}
.node:hover {
  cursor: pointer;
}
.node:hover circle {
  opacity: 0.8;
}
.node.fixed path {
  display: block;
}
.node.fixed circle {
  display: none;
}
.node.fixed:hover path {
  opacity: 1;
}
.node.selected path,
.node.selected circle {
  stroke-width: 4px;
  stroke: #c44;
  opacity: 0.7;
}
.node.selected:hover * {
  opacity: 1;
}
#viz .nearlyHidden {
  opacity: 0.2;
}
#viz.loading {
  top: 45px;
  left: 180px;
  width: calc(100% - 480px);
  height: calc(100% - 45px);
}
noscript {
  position: fixed;
  top: 95px;
  left: 180px;
  width: calc(100% - 480px);
  text-align: center;
  z-index: 100;
  color: #a22;
}
.picto {
  width: 24px;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
a:hover {
  text-decoration: underline;
}
#logoArea {
  background-color: #a5bfc0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 180px;
  z-index: 2;
}
#logoArea * {
  display: block;
  width: 100%;
}
#tools-panel {
  background-color: #7c9899;
  position: fixed;
  top: 0;
  left: 180px;
  right: 0;
  height: 135px;
}
#tools-panel.small {
  top: -90px;
}
#tools-panel.small .reduce {
  display: none;
}
#tools-panel.big {
  top: 0;
}
#tools-panel.big .expand {
  display: none;
}
#tools-panel #advanced-tools {
  height: 90px;
  background-color: #788888;
}
#tools-panel #main-tools {
  height: 45px;
}
#tools-panel .expand,
#tools-panel .reduce {
  top: auto;
  left: 0;
  right: auto;
  bottom: 0;
  border-radius: 0;
  border-bottom-right-radius: 30px;
  height: 30px;
  width: 30px;
  line-height: 24px;
  padding-right: 6px;
  padding-bottom: 6px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: -30px;
  background-color: #7c9899;
}
#tools-panel .expand:hover,
#tools-panel .reduce:hover {
  background-color: #a3b7b8;
}
#legend {
  background-color: #a5bfc0;
  position: fixed;
  display: block;
  top: 100px;
  left: 0;
  bottom: 0;
  width: 180px;
}
#legend.hidden {
  left: -180px;
}
#legend.small {
  left: 0;
}
#legend.small .expand {
  display: none;
}
#tools-panel.hidden ~ #details {
  top: 0;
}
#tools-panel.small ~ #details {
  top: 45px;
}
#tools-panel.big ~ #details {
  top: 135px;
}
#details {
  background-color: #788888;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  padding-top: 80px;
  padding-bottom: 0;
  width: 300px;
}
#details.hidden {
  right: -300px;
}
#details.small {
  right: 0;
}
#details.big {
  width: 600px;
}
#details.big .expand {
  display: none;
}
#details section {
  background-color: #d7e1e2;
  padding: 10px;
  height: calc(100% - 70px);
  overflow: auto;
}
#details section >:last-child {
  margin-bottom: 40px;
}
#details section form a,
#details section label {
  display: block;
  clear: both;
}
#details .expand,
#details .reduce {
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  border-radius: 0;
  border-bottom-left-radius: 30px;
  height: 30px;
  width: 30px;
  line-height: 24px;
  padding-left: 6px;
  padding-bottom: 6px;
  margin-top: 0;
  margin-left: -30px;
  background-color: #788888;
}
#details .expand:hover,
#details .reduce:hover {
  background-color: #a1acac;
}
footer {
  background-color: #7c9899;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 300px;
  z-index: 2;
  text-align: center;
}
footer a {
  margin: 0 10px;
  line-height: 30px;
  display: inline-block;
}
footer .expand,
footer .reduce {
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 0;
  border-top-left-radius: 30px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-top: 0;
  margin-left: -30px;
  background-color: #7c9899;
}
footer .expand:hover,
footer .reduce:hover {
  background-color: #a3b7b8;
}
/*
#search
	position absolute
	right 0
	bottom 0
	height 30px
	width detailsSmallWidth
#langPicker
	position absolute
	right detailsSmallWidth
	bottom 0
	width (detailsSmallWidth / 2)
	height mainToolsHeight
*/
.hidden,
.small,
.big {
  transition: all 0.5s;
}
#viz {
  position: fixed;
  z-index: -2;
}
#errBox {
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  left: 180px;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#errBox .err {
  color: #900;
  padding: 0 20px;
  display: block;
  transition: opacity 5s;
}
#errBox .err.fade {
  opacity: 0;
}
.expand,
.reduce {
  font-weight: bold;
  font-size: 20px;
  background: rgba(136,136,136,0.7);
  border: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.expand.bottom,
.reduce.bottom {
  top: 100%;
}
.expand.left,
.reduce.left {
  left: 0;
}
.expand.right,
.reduce.right {
  left: 100%;
}
.expand:hover,
.reduce:hover {
  cursor: pointer;
  background: #888;
}
.expand.bottom {
  margin-top: 0;
  height: 30px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.reduce.bottom {
  height: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.expand.left,
.reduce.right {
  width: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.reduce.left,
.expand.right {
  margin-left: 0;
  width: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#tradForm label,
form label {
  display: block;
  clear: both;
}
#tradForm input,
form input {
  width: 50%;
  float: right;
}
#tradForm input[type="radio"],
form input[type="radio"] {
  width: auto;
  float: none;
  margin-right: 5px;
}
#tradForm textarea,
form textarea {
  display: block;
  width: 100%;
}
fieldset {
  margin-top: 20px;
  padding: 5px;
}
fieldset legend {
  font-weight: bold;
  font-size: 120%;
  padding-left: 10px;
  padding-right: 10px;
}
.header.viz img {
  height: 60px;
  float: left;
}
.header.viz h2 {
  padding-left: 0 !important;
  background-image: none !important;
  overflow: hidden;
}
